:root {
    --primary-color: #53599A;
    --secondary-color: #6D9DC5;
    --accent-color1: #068D9D;
    --accent-color2: #80DED9;
    --passive-color: #AEECEF;
}

/* Global */
html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Header */
header {
    background-color: var(--primary-color);
    font-weight: bold;
}
header ul {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 40px;
}
header ul li {
    list-style: none;
    font-size: 30px;
}
header a {
    text-decoration: none;
    color:white;
}

/* Body */
body {
    background-color: var(--passive-color);
}

/* Footer */
footer {
    margin-top: 100px; /*Please Remove this later!*/
    background-color: var(--primary-color);
    font-weight: bold;
    color: white;
    padding: 50px;
}

/* iPhone Display */
@media (max-width: 800px) {
    /* HEADER */
    header ul {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}