.video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;

}

html {
    height: 100%;
}

.logo img, .logo {
    max-width: 350px;
    max-height: 350px;
    grid-row: 1/3;
    margin: 10px auto;
}

body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#list, #login {
    display: flex;
    justify-content: center;
}

#list {
    gap: 500px;
    color: white;
    font-size: 3em;
    grid-row: 3;
}


#login {
    align-items: center;
    justify-content: center;
    padding: 1em;
    display: flex;
    gap: 100px;
    grid-row: 4;
    margin: auto auto auto 610px ;
}

.button {
    background-color: burlywood;
    border-radius: .3em;
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    grid-row: 4;
    padding: .5em .5em;
    display: inline-block;
    transition: transform 0.2s ease;
}

.button:hover {
    transform: translateY(-5px);
}