.video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;

}

html {
    height: 100%;
}
body {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#list, #login {
    display: flex;
    justify-content: center;
}

#list {
    gap: 500px;
    color: white;
    font-size: 3em;
    grid-row: 3;
}

#login, #login a {
    text-decoration: none;
    font-size: 1.2em;
    gap: 100px;
    color: white;
    grid-row: 4;
}

.button {
    background-color: burlywood;
    padding: 1em;
    border-radius: .5em;
}